* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.anyfather{
  display: flex;
  justify-content: space-between;
  background: #BB2339;
padding-bottom: 50px;
align-items: center;
.bosish{
  width: Hug (131px)px;
height: Hug (48px)px;
top: 26px;
left: 1479px;
padding: 10px 40px 10px 40px;
gap: 10px;
border-radius: 100px;
border: 1px 0px 0px 0px;
opacity: 0px;
color: #FFFFFF;
color: black;
transition: 2s;
&:hover{
  background-color: #BB2339;
  color: white;
  box-shadow:  10px 10px 20px 10px black;
}
}
}
.nav_menu_linklar{
  text-decoration: none;
  justify-content: space-between;
  color: #aaaaaa;
}
 .nav_menu_link{
    display: flex;
    gap: 50px;
  }
.sapien{
  background-color: #BB2339;
  display: flex;
  .popular{
  text-align: left;
  padding: 100px;

.Flavour{
  font-family: Cera Round Pro;
font-size: 23px;
font-weight: 700;
line-height: 29.9px;
letter-spacing: 0.04em;
text-align: left;
width: 271px;
height: 30px;
gap: 0px;
opacity: 0px;
color: white;
padding-bottom: 10px;
}
.dining{
  font-family: Cera Round Pro;
font-size: 90px;
font-weight: 700;
line-height: 117px;
letter-spacing: 0.04em;
text-align: left;
width: 555px;
height: 234px;
top: 299px;
left: 310px;
gap: 0px;
opacity: 0px;
color: white;
}
.quam{
  font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.04em;
text-align: left;
width: 453px;
height: 84px;
top: 553px;
left: 310px;
gap: 0px;
opacity: 0.7px;
color: white;
padding-bottom: 10px ;
}
.Explore{
  width: Hug (173px)px;
height: Hug (44px)px;
top: 677px;
left: 310px;
padding: 8px 32px 8px 32px;
gap: 0px;
border-radius: 100px;
border: 1px 0px 0px 0px;
opacity: 0px;
margin-top: 20px;
background-color: white;
transition: 2s;
padding: 10px 20px;
border-color: red;
&:hover{
  background-color: black;
  color: white;
}
}
}
}
.shish{
  display: flex;
  justify-content: center;
  border: #BB2339;
transition: 2s;
&:hover{
  background-color: gold;
}

}
.shavarma{
  text-align: center;
  text-decoration: none;
  display: flex;
  gap: 50px;
  justify-content: center;
border: 1px solid ;
box-shadow: 20px 30px;
}
.card-text{
  font-family: Open Sans;
font-size: 18px;
font-weight: 600;
line-height: 24.51px;
text-align: center;
margin-bottom: 50px;
width: 310px;
gap: 0px;
border-radius: 14px;
border: 1px;
opacity: 0px;
margin-top: 20px;
transition: 2s;
&:hover{
  background-color: gold;
}
}
.tochka{
text-align: center;
padding: 100px;
}
.Hamburger{
  transition: 2s;
&:hover{
  background-color: gold;
}
}
.mony{
   font-family: Open Sans;
font-size: 18px;
font-weight: 600;
line-height: 24.51px;
text-align: center;
margin-bottom: 50px;
}
.Happy{
  font-family: Cera Round Pro;
font-size: 48px;
font-weight: 400;
line-height: 62.4px;
letter-spacing: 0.03em;
text-align: center;
gap: 0px;
opacity: 0px;
justify-content: center;
align-items: center;
}
.ota{
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
border: 1px solid #3333331A;
width: 450px;
height: 198px;
top: 3626px;
left: 310px;
gap: 0px;
border-radius: 10px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
background-color: white;
text-align: center;
align-items: center;
display: flex;
transition: 2s;
&:hover{
  background-color: gold;
}
}
.cerser{
  display: flex;
  gap: 20px;
  text-align: center;
}
.eng_katta_ota{
  background-color:  #F4F4F4;
  transition: 2s;
&:hover{
  background-color: gold;
}
}
.mather{
  display: flex;
  padding: 50px;
  gap: 70px;
  justify-content: center;
  transition: 2s;
  cursor: pointer;
&:hover{
  color: gold;
  transform: translateY(-50px);
}
}
.card-title{
 margin-top:  70px;
transition: 2s;
&:hover{
  background-color: gold;
   transform: translateY(-50px);
}
}
.card-1{
  font-family: Cera Round Pro;
font-size: 24px;
font-weight: 500;
line-height: 32px;
text-align: left;
width: 332px;
height: 64px;
top: 372px;
left: 20px;
gap: 0px;
opacity: 0px;
}
.card-img-top{
  transition: 2s;
  gap: 150px;
  margin: auto;
  max-width:300px;
&:hover{
  background-color: gold;
   transform: translateY(-50px);
   
}
}
.fazer{
  justify-content: center;
 .brother{
  display: flex;
  justify-content: center;
  padding: 50px;
  gap: 120px;
 }
}
.wiev{
top: 4925px;
left: 892px;
padding: 8px 32px 8px 32px;
gap: 0px;
border-radius: 100px;
border: 1px 0px 0px 0px;
opacity: 0px;
justify-content: center;
background-color: black;
color: white;
transition: 2s;
justify-content: center;
&:hover{
  background-color: gold;
  color: black;
}
}
.tugma{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  background-color: #3333331A;
}
.Video{
 width: 1349px;
height: 600px;
top: 5089px;
gap: 0px;
border: 1px;
opacity: 0px;
display: flex;
justify-content: center;
margin:auto;
}
.tips{
  background-color:  #F4F4F4;
}
.Instagram{
  font-family: Cera Round Pro;
font-size: 23px;
font-weight: 700;
line-height: 29.9px;
letter-spacing: 0.04em;
text-align: left;
width: 117px;
height: 30px;
gap: 0px;
opacity: 0px;
}
.gallary{
  font-family: Cera Round Pro;
font-size: 48px;
font-weight: 500;
line-height: 62.4px;
letter-spacing: 0.03em;
width: 322px;
height: 62px;
gap: 0px;
opacity: 0px;
}
.Lorem{
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.04em;
text-align: left;
width: 491px;
height: 56px;
gap: 0px;
opacity: 0px;
}
.sister{
  display: flex;
  flex-direction: column;
}
.yakuni{
  display: flex;
}
.letter{
  font-family: Cera Round Pro;
font-size: 23px;
font-weight: 700;
line-height: 29.9px;
letter-spacing: 0.04em;
width: 127px;
height: 30px;
gap: 0px;
opacity: 0px;
color: white;
}
.Newsletter{
  font-family: Cera Round Pro;
font-size: 48px;
font-weight: 500;
line-height: 62.4px;
letter-spacing: 0.03em;
width: 902px;
height: 62px;
gap: 0px;
opacity: 0px;
color: white;
}
.never{
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.04em;
width: 250px;
height: 28px;
gap: 0px;
opacity: 0px;
color: white;
margin-top: 20px;
}
.mishka{
  width: Hug (1,406px)px;
height: Hug (413px)px;
left: 257px;
padding: 64px 252px 64px 252px;
gap: 64px;
border-radius: 20px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
  background-color: #BB2339;
justify-content: center;
align-items: center;
margin: auto;
padding-bottom: 20px;
}
.Email{
border: 1px solid #F5EFDB80;
width: 635px;
height: 52px;
gap: 0px;
border-radius: 100px ;
border: 1px 0px 0px 0px;
opacity: 0px;
margin-top: 20px;
gap: 20px;
}
button{
width: Hug (144px)px;
height: Hug (52px)px;
padding: 12px 32px 12px 32px;
gap: 10px;
border-radius: 100px;
border: 1px 0px 0px 0px;
opacity: 0px;
gap: 20px;

}